<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/591efb5b-950d-4a21-a9f4-c9389f28e149/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/wadafakmayne</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://wadafakmayne.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://wadafakmayne.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$wadafakmayne</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>